

*{
    margin: 0px;
    padding: 0px;
}

.div-1{
    height: 500px;
}

.div-1 p{
    font-size:100px;
}

@media screen and (max-width:480px) and (orientation:landscape){
    .div-1 p{
        font-size: 20px;
    }
}



@media screen and (min-width:481px) and (max-width:760px){
    .div-1 p{
        font-size: 40px;
    }
}


@media screen and (min-width:761px) and (max-width:1080px){
    .div-1 p{
        font-size: 60px;
    }
}