<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="footer.css">
</head>

<body>

    <div class="container">
        <section>

        </section>
        
        <div class="footer">
            <div class="items item-1">
                <h5>FROM THE BLOG
                </h5>

                <h6>Post Title</h6>

                <p>
                    Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet.
                </p>


            </div>
            <div class="items item-2">
                <h5>FROM THE BLOG
                </h5>

                <ul>
                    <li><a href="">Lorem Ipsum sit</a></li>
                    <li><a href="">Lorem Ipsum sit</a></li>
                    <li><a href="">Lorem Ipsum sit</a></li>
                    <li><a href="">Lorem Ipsum sit</a></li>
                    <li><a href="">Lorem Ipsum sit</a></li>
                    <li><a href="">Lorem Ipsum sit</a></li>
                </ul>
            </div>
            <div class="items item-3">
                <div class="d-flex">
                    <div class="img-container">
                        <img src="https://gd-html-template-8.web.app/images/demo/130x130.gif" />
                    </div>
                    <div class="para-container">
                        <p>Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus
                            ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a
                            tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in
                            justo
                            eu magna luctus suscipit.

                        </p>
                    </div>
                </div>
            </div>


            
        </div>
    </div>
</body>

</html>