<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
       
        <div class="jumbo">
            <div class="header d-flex between">
                <h1>
                    Suyash Kumar
                </h1>
                
                <nav>
                    <ul class="d-flex around">
                        <li>Home</li>
                        <li>Meet in person</li>
                        <li>Projects</li>
                    </ul>
                </nav>
            </div>
            <h1 class="head-line mt-20 text-center">Hey there! Suyash here</h1>
            <h3 class="sub-head-line text-center mt-5">Geek lover | Music lover | Seeker</h3>
            
            <div class="text-center">
                <button class="btn mt-5 ">Let's Connect</button>
            </div>
            


        </div>

    </div>
    
</body>
</html>