*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'header header header header'
    'nav nav nav nav'
    'left-body main-body main-body right-body'
    'footer footer footer footer';
}

.header{
    grid-area: header;
    background-color: red;
 
}

.nav{
    grid-area: nav;
    background-color:yellow;
}

.left-body{
    grid-area: left-body;
    background-color: pink;
}

.main-body{
    grid-area: main-body;
    background-color: green;
}

.right-body{
    grid-area: right-body;
    background-color: blue;
}
.footer{
    grid-area: footer;
    background-color:gray;
}